<mat-toolbar fxFlex class = "header"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column"
      fxLayoutGap="10px"
      fxFlexFill>
    <span><img src="/assets/images/Icon.png" height=40 width=140></span>
    <a mat-button routerLink='/home' routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink='/learn' routerLinkActive="active"><span class="fa fa-book fa-lg"></span> Learn</a>
    <a mat-button routerLink='/about' routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
    <a mat-button routerLink='/contact' routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
    <span class = "flex-spacer"></span>
    <form novalidate [formGroup]="searchForm" #fform="ngForm" (ngSubmit)="onSubmit()" >
      <button type="submit" mat-button
     [disabled]="searchForm.invalid"><span class="fa fa-search fa-lg"></span></button>
        <mat-form-field>
          <input matInput formControlName="word" placeholder="" required>
        </mat-form-field>
      </form>
  </mat-toolbar>

  