@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.header{
    background-color: #ffe800;
    @include zero-margin(20px, 0px)
}

.flex-spacer {
    flex: 0.5 1 auto;
  }
