<div class="footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">
  <div>
    <p>© Copyright 2020 Wordbud</p>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:right">
      <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/akshat.marathe1"><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/akshat-marathe-a4a20360/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="https://twitter.com/akshat2995"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-github" href="https://github.com/xblend"><i class="fa fa-github fa-lg"></i></a>
    </div>
   </div>
</div>