<mat-grid-list fxFlex = 200 cols='3' rowHeight='350px' gutterSize='50px'
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center center">
        <mat-grid-tile routerLink = "/learn/basic" appHighlight>
            Basic
        </mat-grid-tile>
        <mat-grid-tile routerLink = "/learn/intermediate" appHighlight>
            Intermediate
        </mat-grid-tile>
        <mat-grid-tile routerLink = "/learn/advance" appHighlight>
            Advance
        </mat-grid-tile>
    </mat-grid-list>
